/*body{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: montstreat;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/
/*background: linear-gradient(120deg, #2980b9, #8e44ad);*/
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    /*transform: translate(-50%, -50%);*/
    width: 500px;
    background: #f1f1f1;
    border-radius: 10px;
}
.center h2{
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
}
.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.text_field span::before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}
.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #2691d9;

}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;

}
 .dropdown{
     width: 100px;
    /*position:relative;*/
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.dropdown select{
    padding: 10px;
    border-radius: 40px;
    text-align: right;
    color: #0d3fbe;
    background-color: transparent;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.externallist{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.externallist a{
    color: #2691d9;
    text-decoration: none;

}
.externallist a:hover{
    text-decoration: underline;
}
