.header{
    position: fixed;
    top: 0;
    right:0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

}
.header .nav{
    width: 90%;
    display: flex;
    align-items: center;

}
.header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;


}

.header .nav .search input[type =text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav .search button img{
    width: 30px;
    height: 30px;
}
.header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .nav .user img{
    width: 40px;
    height: 40px;
}
.header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}