<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link  th:href = "@{/css/styles.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <style>
        .container{
            color: #858282;
            height: 400px;
            margin: 0px auto;
            padding: 5px;
        }
        .roomRegister {
            float: left;
            width: 48%;
            padding: 3px;
        }
        .blockList {
            float: right;
            width: 48%;
            /*border: 3px solid #73AD21;*/
            padding: 3px;
        }
        table, th, td {
            border:1px solid black;
            padding: 10px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div th:replace=" adminDash :: sidemenus"></div>
    <div class="main_content">
        <!--    <div th:replace=" adminDashboard :: header-menu">-->
        <div class="header">

            <div class="nav">
                <div>
                    <form th:action="@{/logout}" method="post">
                        <p>Logged in as
                            <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                        </p>
                    </form>
                </div>
                <div class="user" >
                    <div class="notif">
                        <img th:src="@{/images/notification-bell.png}" alt="">
                    </div>
                    <div class="img-case">
                        <img th:src="@{/images/user.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container">
                <hr>
                <h2>Register Organization</h2>
                <hr>
                <div class="roomRegister">
                    <form class="form-horizontal" th:action="@{/addOrganization}" th:object="${organization}" method="post">
                        <!--        my_rooms is the attributename from the controller object attached to the entity object-->
                        <div class="form-group">
                            <label class="control-label col-sm-2">Organization Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{organization_name}" required=" " minlength="5">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Organization Description:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{organization_description}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>