<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link  th:href = "@{/css/styles.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar"  th:fragment="sidemenus">
        <h2>Tracom Service Limited</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{see_list}"><i class="fas fa-user"></i>users</a></li>
            <li><a th:href="@{add_rooms}"><i class="fas fa-address-card"></i>Rooms</a></li>
            <li><a th:href="@{eventsOperations}"><i class="fas fa-project-diagram"></i>Meetings</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Calendar</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Logs</a></li>
<!--            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>-->
        </ul>
<!--        <div class="social_media">-->
<!--            <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--            <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--        </div>-->
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">

        </div>
    </div>
</div>

</body>
</html>