<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Office Planner</title>
</head>
<body>
<div class="sidebar">
    <div class="sidebar-brand">
        <h3><span class=" "></span>Tracom Service Limited</h3>
    </div>
</div>
<div class="sidebar-menu">
    <a href=""><span class="fa fa-home"></span>
        <span>Dashboard</span></a>
    <ul style="list-style-type: none">
        <li>

        </li>
        <li>
            <a href=""><span class="fa fa-user-tie-hair-long"></span>
            <span>Users</span></a>

            <!-- add a dropdown add register users and view users-->
        </li>
        <li>
            <a href=""><span class="fa fa-landmark"></span>
            <span>Board Rooms</span></a>
        </li>
        <li>
            <a href=""><span class="la la-ingloo"></span>
            <span>Meeting</span></a>
        </li>
        <li>
            <a href=""><span class="la la-ingloo"></span>
            <span>Dashboard</span></a>
        </li>
    </ul>
</div>

</body>
</html>