<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css"/>-->
    <link  th:href = "@{/css/styles.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/js/boostrap.min.js"></script>

    <title>Event management</title>
</head>
<body>
<div class="wrapper">
    <div th:replace=" adminDash :: sidemenus"></div>
    <div class="main_content">
        <!--    <div th:replace=" adminDashboard :: header-menu">-->
        <div class="header">Welcome!!</div>
        <div class="info">
    <h2>Create New Event</h2>
    <hr/>
    <a th:href="@{/eventsOperations}">All events</a>
<!--    <button class="btn btn-primary " type="submit">Create Event</button>-->
    <hr/>

    <form th:action="@{addEvent}" th:object="${meeting_events}"  method="post">
        <div class="col-8">
            <input type="text" th:field="*{meeting_name}" placeholder="Meeting Title"
                   class="form control col-4 mb-4" required minlength="4"
                   maxlength="20" />
        </div>
        <div class="col-8">
            <input type="time" th:field="*{start_time}" placeholder="Start Time"
                   class="form control col-4 mb-4" required minlength="4"
                   maxlength="20" />
        </div>
        <div class="col-8">
            <input type="time" th:field="*{end_time}" placeholder="Meeting Duration" class="form control col-4 mb-4"
                   required =" "/>
        </div>
        <div class="col-8">
            <input type="date" th:field="*{meeting_date}" placeholder="Date of Meeting" class="form control col-4 mb-4"
                   required=""/>
        </div>
        <div class="col-8">
            <td><select name="boardroom_name" id="boardroom_id" class="form control col-4 mb-4" required>
                <option th:each="boardRooms: ${boardRoom}"
                        th:value="${boardRooms.boardroom_id}"
                        th:text="${boardRooms.boardroom_name}"
                /></select>
            </td>
        </div>
        <div class="col-8">
            <textarea type="text" th:field="*{event_description}" placeholder="Event Description" class="form control col-4 mb-4"
                    minlength="10"
                   />
        </div>

        <div>
            <button class="btn btn-primary " type="submit">Create Event</button>
        </div>
        <input type="hidden" th:field="*{events_id}">
    </form>
    </div>
</div>
</div>
</body>
</html>