<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css"/>-->
    <script type="text/javascript" src="webjars/bootstrap/js/boostrap.min.js"></script>
    <title>employees list</title>
</head>
<body>
<div class="container">
    <h3>List of employees</h3>
    <hr/>
    <a th:href="@{/createEvent}" class="btn btn-primary mb-2">New Event</a>
    <table border="1" class="table table-striped table-responsive-md" id="employeeTable">

        <thead>
        <tr>
            <th>Events Id</th>
            <th>Meeting Title</th>
            <th>StartTime</th>
            <th>MeetingDuration</th>
            <th>MeetingDescription</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="meeting_events: ${meeting_event}">
            <td th:text="${meeting_events.events_id}"></td>
            <td th:text="${meeting_events.meeting_name}"></td>
            <td th:text="${meeting_events.start_time}"></td>
            <td th:text="${meeting_events.meeting_duration}"></td>
            <td th:text="${meeting_events.event_description}"></td>
            <!--                        <td th:text="${employee.employeeId}"></td>-->
<!--            <td><a href="#" class="btn">see</a></td>-->
            <td>
                <a th:href="@{update (eventsId=${meeting_events.events_id})}" class="btn btn-info ">
                    Update</a>
                <a th:href="@{deleteEmployee (eventsId=${meeting_events.events_id})}" class="btn btn-danger ml-2">
                    Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--the data table scripts libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        //    add the Id selector here to target the table
        $("#employeeTable").DataTable({

                'aoColumnDefs ': [{
                    'bSortable': false,
                    'sTargets':  [-1]
                }]
            }
        );

    })
</script>
</body>
</html>